{% extends "mantistable/base-dashboard.html" %}

{% block title %}
    Changelog | {{ block.super }}

{% endblock %}

{% block content %}
    {{ block.super }}

    <div id="changelog">
        <h1>Changelog</h1>

        <div class="panel-group accordion" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#collapseOne"
                           aria-expanded="true" aria-controls="collapseOne">
                            3.0 - 18-12-2019
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ul>
                            <li>
                                Concept and Datatype Annotation new algorithm
                            </li>
                            <li>
                                Predicate Annotation fine tuning
                            </li>
                            <li>
                                Entity Linking new row context algorithm
                            </li>
                            <li>
                                Data export in RDF (xml, ntriples, turtle, json-ld) and csv
                            </li>
                            <li>
                                New parallelization system
                            </li>
                        </ul>

                    </div>
                </div>
                
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#collapseTwo"
                           aria-expanded="true" aria-controls="collapseOne">
                            2.0 - 07-09-2019
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ul>
                            <li>
                                Python port
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}


{% block console %}
{% endblock %}
