/* ===============
  LIST TABLES
   =============== */

#list-table {
  max-height: calc(100vh - 60px - 40px); //header+padding+pagination


  &.noPagination {
    max-height: calc(100vh - 60px); //header+padding
  }

  table {
    margin: 0;
  }

  th {
    background-color: #f3f3f3;
    border-color: #CCC;


    .btn-group {
      text-transform: initial;
      margin-top: 15px;
    }
  }


  .status {
    display: block;
    font-size: 11px;

    i {
      @extend %FontAwesome900;
      font-style: normal;
      display: inline-block;
      background: unset !important;
      color: black;

      &.TODO:before {
        content: '\f00d'; //<i class="fas fa-times"></i>
      }

      &.DONE:before {
        content: "\f00c"; //<i class="fas fa-check"></i>
      }

      &.DOING {
        animation: fa-spin 2s linear infinite;

        &:before {
          content: '\f2f1'; //<i class="fas fa-sync-alt"></i>
        }

      }
    }

  }

  .globalStatus {
    width: 8px;
    max-width: 8px;
    min-width: 8px;
    padding: 0;
    border-right: 0;

    + th {
      border-left: 0;
    }
  }

  .table-name {
    max-width: 280px;
    min-width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .table-gs {
    text-align: center;
    min-width: 150px;
  }

  .table-date {
    min-width: 120px;
  }

  .table-status {
    min-width: 200px;
  }

  .table-time {
    min-width: 150px;

  }

  .table-buttons {
    min-width: 200px;
  }

  .table-entry {
    text-align: center;
  }

  td.table-count,
  td.table-buttons {
    text-align: center;
  }

  td.table-date {
    font-size: 11px;
    color: #717171;
    text-align: center;
  }

  td.table-time {

    text-align: center;
    font-size: 20px;
  }

  .form-group.material {
    margin-bottom: 0;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;

    label {
      background: #f3f3f3; /*background page color*/
    }
  }

  // search
  .search {
    input {
      padding-right: 30px;
    }

    .btn-cancel {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      color: $light-gray;
      font-size: 14px;
      display: none;
      cursor: pointer;
      z-index: 999;
    }
  }

  // filter
  .filter {
    border-radius: 3px;

    .btn {
      border: unset;
      cursor: pointer;
      width: 40px;
      height: 25px;

      &.all {
        background-color: white;
      }

      &.active {
        position: relative;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.66);
      }

      &:hover
      &.active {
        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, .1);
        }
      }

    }
  }

  //pagination
  .pagination {
    margin: 0;


    &-wrapper {
      position: fixed;
      bottom: 0;
      left: 0;
      height: 40px;
      //background: #dadee2;
      width: 100%;
      padding: 2px 20px 2px 70px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

  }
}

// color status
#list-table,
.filter {
  .DONE {
    background-color: #195d3d; /*#008d4c;*/
    color: white;
  }

  .DOING {
    background-color: rgb(240, 189, 49);
  }

  .TODO {
    background-color: rgb(185, 185, 185);
  }

  .processing {
    background-color: rgb(240, 189, 49);
    animation: move 1.5s linear infinite;
    background-image: linear-gradient(45deg,
            rgba(255, 255, 255, .45) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .45) 50%,
            rgba(255, 255, 255, .45) 75%,
            transparent 75%,
            transparent);
    background-size: 40px 40px;
  }


  .ERROR {
    background-color: rgb(201, 9, 9);
  }
}

@keyframes move {
  0% {
    background-position: 40px 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* ===============
   DOWNLOAD
   =============== */

#download {
  table {
    width: auto;
    margin: auto auto 30px auto;

    th, td {
      border: 1px solid #b3b2b2;
    }

    .progress {
      min-width: 250px;
    }

    .download {
      min-width: 50px;
      text-align: center;

      i {
        font-size: 14px;
      }
    }
  }

  .warning-message {
    text-align: center;
    margin: 30px;
    font-style: italic;
  }
}

#export_format_selection {
  .modal-dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  .modal-body {
    padding: 10px 15px 30px;
  }

  .export-type {
    position: relative;
    display: block;
    padding-top: 15px;
    margin: 50px 0;
    border-top: 1px solid #5e5e5e;;
    color: #5e5e5e;

    &:first-child {
      margin-top: 15px;
    }
  }

  .label-block {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    background: white;
    transform: translateY(-50%);
    padding-right: 4px;
    font-weight: 600;
  }

  .btn {
    margin: 0;
    padding: 5px 20px;
    position: relative;
    text-align: center;
    transition: all .3s;

    &:after {
      content: "\f2f1";
      @extend %FontAwesome900;
      animation: spin 2s linear infinite;
      position: absolute;
      opacity: 0;
      transition: all .1s;
      display: inline-block;
      right: 10px;

    }

    &:hover {
      background: $skin-color-darker;
      color: white;
    }

    &.loading {
      padding-left: 5px;
      padding-right: 35px;

      &:after {
        opacity: 1;
        right: 5px;
      }
    }
  }
}

/* ===============
   LOAD NEW TABLE
   =============== */

#loadGS {
  & > div {
    margin: 15px;
  }

  i {
    opacity: 0.7;
  }

  .btn {
    margin: 0;
    color: $skin-color;

    &:hover {
      color: $skin-color-darker;
    }

    &.delete {
      color: $danger;

      &:hover {
        color: $danger-darker;
      }
    }

    &.disabled {
      opacity: 0.9;
    }
  }

  .progress {
    margin: 6px 0;
    height: 6px;
    background-color: #bbbec6;

    &.loaded {
      background-color: rgba($danger, .4);
    }

    .progress-bar {
      background: rgba($skin-color, .5);
    }
  }
}

#processing {
  margin: 50px auto;
  padding: 20px;
  color: $secondary-color;
  text-align: center;
  font-size: 28px;
  font-weight: 300;

  i {
    opacity: 0.7;
    margin-right: 10px;
    font-size: 34px;
  }

  .text {


  }

  .text-small {
    margin-top: 20px;
  }

}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
